body {
    padding: 5px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
  }
  
hr::after {
    background: #fff;
    content: 'Tutaj wyswietlą się zadania';
    padding: 0 4px;
    position: relative;
    top: -10px;
}